body {
    
	overflow-x:hidden; 

	background-size:cover;
   }
div.body{
	position:absolute;
	width:1500px;
	height:660px;

}
.left{
	background-color:grey;
	width:50%;
}
.right{
	float:right;
	position:absolute;

	top:0px;
	right:10px;
	width:700px;

	overflow:hidden;

	font-family:'Oswald',serif;
	font-size: 12px;
}
.tags{
	width:200px;
	float:right;
	position:absolute;
	right:0px;
	top:10px;
}
.right form{
	position:absolute;
	left:500px;
	top:10px;
	width:150px;
	float:right;
	height:45px;
}
.main-news-disc{
	width: 305px;
	height: 200px;
	position:relative;
	top:10px;
}

.mainnews{

	height: 210px;
	width: 305px;
	position: absolute;
	float: bottom;
	top:10px;
	left: 10px;

}
.topbutton{
	height:30px;
	width:30px;
	margin-top: 0px;
	float:bottom;
	margin-bottom: -5px;
}



table.top{
	width:100%;
}

#main-news-pic{
	text-shadow: 2px 2px 2px rgba(0,0,0,.5);
	top:0px;
	left:-5px;
	position: relative;
	height: 210px;
	width: 305px;
}
#footer{

	position:fixed;
	bottom:0px;
	right:0px;
	font-size:12px;
	opacity:0.5;
}
#logo{

 		font-family: 'Oswald', serif;
        font-size: 132px;
		height:155px;
		width:350px;
 		color: #005FBF;
		margin-top:-30px;
}

#weather{

	font-family: 'Oswald', serif;
	font-size: 18px;
	position: absolute;
	top:10px;
	margin-top: 30px;
	right: 40px;
}
#currency{
	font-family: 'Oswald', serif;
	font-size: 18px;
	position: absolute;
	top:55px;
	margin-top: 30px;
	right: 163px;
}
#date{

	font-family: 'Oswald', serif;
	font-size: 18px;
	position: absolute;
	top:100px;
	margin-bottom:0px;
	margin-top: 30px;
	right: 163px;
}
#user{

	float:left;
	width:30px;
	height:30px;
	position:absolute;
	right: -30px;
	top:5px;
}
textarea.add-title{
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
	overflow: hidden;
	font-family:'Oswald', serif;
	font-size: 25px;
}
textarea.add-summary{
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
	overflow: hidden;
	font-family:'Oswald', serif;
	font-size: 25px;
}
textarea.add-content{
	width: 100%;
	height: 200px;
	padding: 0px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
	overflow: hidden;
	font-family:'Oswald', serif;
	font-size: 25px;
}
textarea.add-tag{
	width: 100%;
	height: 50px;
	padding: 0px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
	overflow: hidden;
	font-family:'Oswald', serif;
	font-size: 25px;
}
p.create-news-text{
	position: relative;
	margin-bottom: 5px;
	left:10px;
}
div.send-news{
	font-family:'Oswald', serif;
	font-size: 36px;
	width: 100px;
	height: 50px;
	top:10px;
	right:10px;
	position: absolute;
	user-select: none;
}
div.send-news:hover{
	user-select: none;
	transition-duration: 0.4s;
	background-color: rgba(0, 95, 191, 0.7);
	color: white;
}
div.top-right{

	width:300px;
	height:170px;
	position: absolute;
	top:0px;
	right:0px;
}
div.create-news-wrapper{
	user-select: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
div.create-news-{
	line-height:0.9;
	left: 100px;
	top:80px;
	width: 85%;
	height: 80%;
	position:absolute;
	background-color: aliceblue;


	font-family:'Oswald', serif;
	font-size: 36px;
}
div.register{
	position: absolute;

	width: 80px;
	right: 120px;
	top:10px;
	font-family:'Oswald', serif;
	font-size: 20px;
	height: 30px;
	transition-duration: 0.4s;
}
.register:hover{
	background-color: #005FBF; /* Цвет фона и значение прозрачности */
	transition-duration: 0.4s;
}
p{
	margin-top:0px;
	font-size: 24px;
	font-family: 'Oswald', serif;
}
.log{
	margin-top:-5px;
	margin-left: 45px;
	margin-bottom:0px;
}
.toptext{
	margin-top:-5px;
	font-family: 'Oswald', serif;
	font-size: 14px;
	bottom:-10px;

}
.rad{
	font-family:'Oswald', serif;
	font-size: 12px;
}
.sidenews-p{
	line-height:1;
	font-family:'Oswald', serif;
	font-size: 12px;
	text-align: left;
	color: black;

	left:5px;
}
.recent{
	font-family:'Oswald', serif;
	font-size: 12px;
	text-align: left;
    right:0px;
    margin:0px;
	transition-duration: 0.2s;

}
.recent-content{
	visibility: hidden;
	font-family:'Oswald', serif;
	font-size: 10px;


}
.mainnews-p{

	line-height:1;
	left:5px;
	font-family:'Oswald', serif;
	font-size: 22px;
	text-align: left;
	color: black;
	position:relative;

}
.author{

	font-family:'Oswald', serif;
	font-size: 14px;
	opacity: 0.5;
	text-align: left;
	position: absolute;
	left:5px;
	bottom:5px;
    margin: 0px;
}
.time{
	font-family:'Oswald', serif;
	font-size: 14px;
	opacity: 0.5;
	text-align: left;
	position:absolute;
	left:65px;
    margin: 0px;
	bottom:5px;


}
table.top-table{
	border-collapse: collapse;
	margin-bottom: 0px;
}
.recent-time{
    font-family:'Oswald', serif;
    font-size: 14px;
    opacity: 0.5;
    text-align: left;

    left:65px;
    margin-right: 5px;
	margin:0px;
    display: flex;
}
button.top:hover{
	background-color: #005FBF;
	font-family: 'Oswald', serif;

	transition-duration: 0.2s;
	background-color: rgba(0, 95, 191, 0.9); /* Цвет фона и значение прозрачности */
}
div.newsmain:hover{

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	background-color: rgba(0, 95, 191, 0.7); /* Цвет фона и значение прозрачности */
	color:white;
}
div.table{
	width: 430px;
	height: 450px;
	float:left;
	display: table;
}
div.sidenews{
    font-family: 'Oswald', serif;
    font-size: 16px;
    height: 205px;
    width: 200px;
	margin:5px;
    border:1px solid #005FBF;
    transition-duration: 0.4s;
	position: relative;
	display: inline-table;
    background-color: rgba(250, 250, 250, 0.6);

}
div.sidenews:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    background-color: rgba(0, 95, 191, 0.7);
    color: #005FBF;
}
.sidenews-pic{
    width:100%;
    height:120px;
    background-color: red;
    background-size: cover;
    position: relative;
	text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
.row{
	width: 430px;
	height: 225px;
	display: table-row;

}
.sidenews-disc{
    width:200px;
    height:86px;


}
.recent-news{
    display: table;
    width:600px;
    height:50px;

}
div.recent-n{
	border-bottom: 2px red solid;

	width:700px;
	height:65px;
	font-family:'Oswald', serif;
	font-size: 36px;
	transition: height 4s;
    transition-duration: 0.8s;
	margin-bottom:5px;
    position: relative;
}
div.recent-n:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.8s;
	height: 150px;
	color: #005FBF;
}
div.newsmain{
	display: inline-block;
	font-family: 'Oswald', serif;
	margin-right:10px;
	font-size: 18px;
	height: 420px;
	width: 315px;
	border:1px solid #005FBF;
	position: relative;
	margin-left:20px;
	background-color: rgba(250, 250, 250, 0.6); /* Цвет фона и значение прозрачности */
	transition-duration: 0.4s;

}
button.top{
	background-color: white;
	font-family: 'Oswald', serif;
	font-size: 18px;
	margin:0px;
	height:55px;
	width:210px;
	border:5px solid #005FBF;
	float: left;
	text-align: center;
	transition-duration: 0.2s;
	background-color: rgba(250, 250, 250, 0.6); /* Цвет фона и значение прозрачности */
}
div.full-news-wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
.full-news{
	top:50px;
	font-family:'Oswald', serif;
	position:absolute;
	line-height:0.9;
	left: 100px;
	width: 85%;
	height: 90%;
	background-color: white ;
}
.full-news-pic{
	background-size: cover;
	width: 500px;
	height: 300px;
	position: relative;
	display: flex;
	float: left;
	margin: 10px;
}
.full-news-title{
	width: 58%;
	height: 30%;

	position: relative;
	display: flex;
	margin: 10px;
	font-family:'Oswald', serif;
	font-size: 56px;
}
.full-news-summary{
	width: 58%;
	height: 14%;

	display: flex;
	margin: 10px;
	font-family:'Oswald', serif;
	font-size: 28px;
}
.full-news-content{

	width: 98%;
	height: 50%;
	margin: 10px;

	position: relative;
	display: flex;
	font-family:'Oswald', serif;
	font-size: 28px;

}
.delete{
	 width: 50px;
	 height: 20px;
	 bottom:7px;
	 right:0px;
	 position: absolute;
	 border:0px solid #005FBF;
	font-family:'Oswald', serif;
	font-size: 14px;
	transition-duration: 0.4s;
	 background-color: rgba(250, 250, 250, 0.0); /* Цвет фона и значение прозрачности */
	 float: right;
 }
.delete:hover{
	color: white;
	transition-duration: 0.4s;
	background-color: #005FBF; /* Цвет фона и значение прозрачности */

}
.edit{
	width: 30px;
	height: 20px;
	bottom:7px;
	right: 50px;
	font-family:'Oswald', serif;
	font-size: 14px;
	position: absolute;
	border:0px solid #005FBF;
	transition-duration: 0.4s;
	background-color: rgba(250, 250, 250, 0.0); /* Цвет фона и значение прозрачности */
	float: right;
}
.edit:hover{
	color: white;
	transition-duration: 0.4s;
	background-color: #005FBF; /* Цвет фона и значение прозрачности */

}


.add-news:hover{
	opacity: 0.8;
}
#yes-button{
    width: 50px;
    height: 20px;
    border:1px solid black;
    top: 10px;
    position: absolute;

}
h1 {
	left:30px;
	margin-top:0px;
	font-family:'Oswald', serif;
	font-size: 36px;
	color: #005FBF;
	position:relative;
	margin-bottom:0px;
}
.popular{
	position:relative;
	color: #005FBF;
	font-family: 'Oswald', serif;
	font-size: 36px;
}
h2{
	bottom:0px;
	margin-bottom: 0px;
	left:10px;
	line-height:1;
	font-family:'Oswald', serif;
	font-size: 30px;
	text-align: left;
	color: white;
	position: absolute;
}
h3{
    line-height:1;
    margin:0px;
	font-family:'Oswald', serif;
	font-size: 18px;'
    display: table-cell;
	vertical-align: bottom;
	color: white;
    bottom:0px;
    position: absolute;

}

span.username{

}

hr{
margin-top:10px;
margin-bottom:0px;
}

button.add-news{

	background-color:#005FBF ;
	color: white;
	position: relative;

	height: 60px;
	top:10px;

	padding: 14px 20px;
	border: none;
	cursor: pointer;
	font-family:'Oswald', serif;
	font-size: 20px;
	transition-duration: 0.4s;
	display: inline-block;
}
#read_more{

	font-family:'Oswald', serif;
	font-size: 16px;
	text-align: left;
	color: #005FBF;
	position: absolute;
	margin-top:10px;
	bottom:35px;
}
/* login form */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
button.login{
	width: 100px;
	height: 60px;
	top:10px;
	position: relative;
	display: inline-block;
	background-color:#005FBF ;
	color: white;
	padding: 14px 20px;
	border: none;
	cursor: pointer;
	font-family:'Oswald', serif;
	font-size: 20px;

	transition-duration: 0.4s;
}
div.status{
	position: absolute;
	top:70px;
	visibility: collapse;
	font-family:'Oswald', serif;
	font-size: 20px;
}
button:hover {
	opacity: 0.8;
	color: white;
}
input[type=text], select {
	width: 100%;
	top:10px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	position: relative;
}
input[type=password], select {
	width: 100%;
	top:5px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	position: relative;
}
