body {
    
	overflow-x:hidden; 
	background-image: url('images/f.jpg');
	background-size:cover;
   }
div.body{
	position:absolute;
	width:1500px;
	height:660px;

}
.left{
	background-color:grey;
	width:50%;
}
.right{
	float:right;
	position:absolute;

	top:0px;
	right:10px;
	width:700px;
	height:500px;
	overflow:hidden;

	font-family:'Oswald',serif;
	font-size: 12px;
}
.tags{
	width:200px;
	float:right;
	position:absolute;
	right:0px;
	top:10px;
}
.right form{
	position:absolute;
	left:500px;
	top:10px;
	width:150px;
	float:right;
	height:45px;
}
.main-news-disc{
	width: 305px;
	height: 200px;
	position:relative;
	top:10px;
}

.mainnews{

	height: 210px;
	width: 305px;
	position: absolute;
	float: bottom;
	top:10px;
	left: 10px;

}
.topbutton{
	height:30px;
	width:30px;
	margin-top: 0px;
	float:bottom;
	margin-bottom: -5px;
}
.status{
	height:30px;
	width:30px;
	margin-right:3px;
	margin-top: 5px;
	float:bottom;
	margin-bottom: -5px;

}

input[type=text] {
	background-color: white;
	font-size:36px;
	background-repeat: no-repeat;
	size: 500px;

	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
	font-size:36px;
}
input:focus {
	border: 3px solid #555;
}
.search{
	font-family:'Oswald', serif;
	font-size: 12px;
	width:350px;
	height:35px;
	float:right;
	position:absolute;
	top:10px;
	left:140px;

}
.radio{

	position:absolute;
	top:10px;
	right:0px;
}
table.top{
	width:100%;
}

#main-news-pic{

	top:0px;
	left:-5px;
	position: relative;
	height: 210px;
	width: 305px;
}
#footer{

	position:fixed;
	bottom:0px;
	right:0px;
	font-size:12px;
	opacity:0.5;
}
#logo{

 		font-family: 'Oswald', serif;
        font-size: 132px;
		height:155px;
		width:350px;
 		color: #005FBF;
		margin-top:-30px;
}
#status_bar{
	font-family: 'Oswald', serif;
	position: absolute;
	top: 0px;
	right: 40px;
}
#weather{

	font-family: 'Oswald', serif;
	font-size: 18px;
	position: absolute;
	top:10px;
	margin-top: 30px;
	right: 40px;
}
#currency{
	font-family: 'Oswald', serif;
	font-size: 18px;
	position: absolute;
	top:55px;
	margin-top: 30px;
	right: 163px;
}
#date{

	font-family: 'Oswald', serif;
	font-size: 18px;
	position: absolute;
	top:100px;
	margin-bottom:0px;
	margin-top: 30px;
	right: 163px;
}
#user{

	float:left;
	width:30px;
	height:30px;
	position:absolute;
	right: -30px;
	top:5px;
}

p{
	margin-top:0px;
	font-size: 24px;
	font-family: 'Oswald', serif;
}
.log{
	margin-top:-5px;
	margin-left: 45px;
	margin-bottom:0px;
}
.toptext{
	margin-top:-5px;
	font-family: 'Oswald', serif;
	font-size: 14px;
	bottom:-10px;

}
.rad{
	font-family:'Oswald', serif;
	font-size: 12px;
}
.sidenews-p{
	line-height:1;
	font-family:'Oswald', serif;
	font-size: 12px;
	text-align: left;
	color: black;

	left:5px;
}
.recent{
	font-family:'Oswald', serif;
	font-size: 14px;
	text-align: left;
    right:0px;
    margin:0px;
    display: flex;
}

.mainnews-p{

	line-height:1;
	left:5px;
	font-family:'Oswald', serif;
	font-size: 22px;
	text-align: left;
	color: black;
	position:relative;

}
.author{

	font-family:'Oswald', serif;
	font-size: 14px;
	opacity: 0.5;
	text-align: left;
	position: absolute;
	left:5px;
	bottom:5px;
    margin: 0px;
}
.time{
	font-family:'Oswald', serif;
	font-size: 14px;
	opacity: 0.5;
	text-align: left;
	position:absolute;
	left:65px;
    margin: 0px;
	bottom:5px;


}
.recent-time{
    font-family:'Oswald', serif;
    font-size: 14px;
    opacity: 0.5;
    text-align: left;

    left:65px;
    margin-right: 5px;

    display: flex;
}
button.top:hover{
	background-color: #005FBF;
	font-family: 'Oswald', serif;

	transition-duration: 0.2s;
	background-color: rgba(0, 95, 191, 0.9); /* Цвет фона и значение прозрачности */
}
div.newsmain:hover{

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	background-color: rgba(0, 95, 191, 0.7); /* Цвет фона и значение прозрачности */
	color:white;
}

div.sidenews{
    font-family: 'Oswald', serif;
    font-size: 16px;
    height: 206px;
    width: 200px;
    border:1px solid #005FBF;
    transition-duration: 0.4s;
    position: relative;
    background-color: rgba(250, 250, 250, 0.6);
}
div.sidenews:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    background-color: rgba(0, 95, 191, 0.7);
    color: #005FBF;
}
.sidenews-pic{
    width:200px;
    height:120px;
    background-color: red;
    background-size: cover;
    position: relative;
}
.sidenews-disc{
    width:200px;
    height:86px;


}
.recent-news{
    display: table;
    width:600px;
    height:50px;

}
button.recent-n{
    display: flex;
	width:700px;
	height:50px;
	font-family:'Oswald', serif;
	font-size: 36px;

    transition-duration: 0.4s;
	margin-bottom:5px;
    position: relative;
}
button.recent-n:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	color: #005FBF;
}
div.newsmain{
	display: inline-block;
	font-family: 'Oswald', serif;
	margin-right:10px;
	font-size: 18px;
	height: 420px;
	width: 315px;
	border:1px solid #005FBF;
	position: relative;
	margin-left:20px;
	background-color: rgba(250, 250, 250, 0.6); /* Цвет фона и значение прозрачности */
	transition-duration: 0.4s;

}
button.top{
	background-color: white;
	font-family: 'Oswald', serif;
	font-size: 18px;
	margin:0px;
	height:55px;
	width:210px;
	border:5px solid #005FBF;
	float: left;
	text-align: center;
	transition-duration: 0.2s;
	background-color: rgba(250, 250, 250, 0.6); /* Цвет фона и значение прозрачности */
}
.delete{
	 width: 50px;
	 height: 20px;
	 bottom:7px;
	 right:0px;
	 position: absolute;
	 border:0px solid #005FBF;
	font-family:'Oswald', serif;
	font-size: 14px;


	transition-duration: 0.4s;
	 background-color: rgba(250, 250, 250, 0.0); /* Цвет фона и значение прозрачности */
	 float: right;
 }
.delete:hover{
	color: white;
	transition-duration: 0.4s;
	background-color: #005FBF; /* Цвет фона и значение прозрачности */

}
.edit{
	width: 30px;
	height: 20px;
	bottom:7px;
	right: 50px;
	font-family:'Oswald', serif;
	font-size: 14px;
	position: absolute;
	border:0px solid #005FBF;
	transition-duration: 0.4s;
	background-color: rgba(250, 250, 250, 0.0); /* Цвет фона и значение прозрачности */
	float: right;
}
.edit:hover{
	color: white;
	transition-duration: 0.4s;
	background-color: #005FBF; /* Цвет фона и значение прозрачности */

}
h1 {
	left:30px;
	margin-top:0px;
	font-family:'Oswald', serif;
	font-size: 36px;
	color: #005FBF;
	position:relative;
	margin-bottom:0px;
}
.popular{
	position:relative;
	color: #005FBF;
	font-family: 'Oswald', serif;
	font-size: 36px;
}
h2{
	bottom:0px;
	margin-bottom: 0px;
	left:10px;
	line-height:1;
	font-family:'Oswald', serif;
	font-size: 30px;
	text-align: left;
	color: white;
	position: absolute;
}
h3{
    line-height:1;
    margin:0px;
	font-family:'Oswald', serif;
	font-size: 18px;'
    display: table-cell;
	vertical-align: bottom;
	color: white;
    bottom:0px;
    position: absolute;

}

span.username{

}

hr{
margin-top:10px;
margin-bottom:0px;
}


#read_more{

	font-family:'Oswald', serif;
	font-size: 16px;
	text-align: left;
	color: #005FBF;
	position: absolute;
	margin-top:10px;
	bottom:35px;
}
